<p>
<h3>Dear <%=@student.first_name %>,</h3>
<p>I would like to inform of your your recent assignment, <%= @assignment_name %>. You receieved an overall score of <%= @score %>%.</p>

<p>I am very concerned with how you did on this assignment. If you would like to talk further, you can reach me through my email at: <%= @teacher.email %>.</p>

<p>Thank you for your time. </p>

<p>Best,</p>

<p><%= @teacher.first_name + " " + @teacher.last_name %></p>
</p>