<!DOCTYPE html>
<html>
  <head>
    <title>KitHub</title>
    <%= favicon_link_tag 'apple-fav.png' %>
    <%= csrf_meta_tags %>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- d3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">


    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body <%= content_for :angular_app %> >
    <% if teacher_signed_in? %>

      <nav class="navbar navbar-light bg-faded">
        <%= image_tag "apple-fav.png", class: "pull-md-left brand-img" %>
        <a class="navbar-brand cabin-sketch-font" href="#" > KitHub</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>" >Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= gradebook_path %>" >Gradebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= syllabi_path %>" >Syllabi</a>
          </li>
        </ul>
        <% if controller_name == 'kithub' %>
          <div class="form-inline center-form" ng-controller="NavCtrl">
            <input class="form-control position-higher" type="text" ng-model="term" placeholder="Search">
            <select id="search-type-select" ng-model="searchType" class="selectpicker position-higher" style="width: 50px;">
              <option value="title">Title</option>
              <option value="content">Content</option>
              <option value="name">User</option>
            </select>
            <button class="btn btn-outline-success" ng-click="search()">Search</button>
          </div>
        <% end %>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>"><%= current_teacher.first_name %></a>
          </li>
          <li class="nav-item">
            <%= link_to "Logout",  destroy_teacher_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>

      </nav>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
