<!DOCTYPE html>
<html>
  <head>
    <title>KitHub</title>
    <%= csrf_meta_tags %>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container-fluid" <%= content_for :angular_app %> >
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">KitHub</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= gradebook_path %>" >Gradebook</a>
        </li>
      </ul>
      <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
