<!DOCTYPE html>
<html>
  <head>
    <title>KitHub</title>
    <%= csrf_meta_tags %>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body <%= content_for :angular_app %> >
    <%= yield %>
  </body>
</html>
